@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<div class="panel">
    <input class="btn btn-success" type="button" value="CallApi_限制访问" id="callapibtn1">
    <input class="btn btn-success" type="button" value="CallApi_JsonpMediaTypeFormatter" id="callapibtn2">
    <input class="btn btn-success" type="button" value="CallApi_Cors" id="callapibtn3">
    <div class="alert alert-info" id="result" role="alert" style="height: 200px"></div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
@*<script type="text/javascript" src="~/Scripts/Home/CallApiJs.js"></script>*@

<script type="text/javascript">
    function callapi() {
        $.get('http://webapi.local/api/CustomerApi',{},function(data) {
            $("#result").text(data);
        });
    };
    
    function callapiJsonpMediaTypeFormatter() {
        $.ajax({
            Type: "GET",
            url: "http://webapi.local/api/CustomerApi",
            dataType: "jsonp",
            contentType: 'application/json',
            data:{},
            success: function (cutomers) {
                $("#result").text(cutomers[0].Name);
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                alert("数据加载失败，请联系管理员！");
            }
        });
    }

    function callapiCors() {
        //$.getJSON("http://webapi.local/api/CustomerApi",{},function(data) {
        //    $("#result").text(data[0].Name);
        //});
        $.ajax({
            Type: "GET",
            url: "http://webapi.local/api/CustomerApi",
            dataType: "josn",
            contentType: 'application/json',
            success: function (cutomers) {
                $("#result").text(cutomers[0].Name);
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                alert(textStatus +"---------"+ errorThrown);
            }
        });
    }
    //function CorsTest() {
    //    //var url = 'http://webapi.local/api/CustomerApi';
    //    //var xhr = createCORSRequest('GET', url);
    //    //xhr.send();
    //}
    
    
    $(function () {
        $("#callapibtn1").on('click', function () { callapi(); });
        $("#callapibtn2").on('click', function () { callapiJsonpMediaTypeFormatter(); });
        $("#callapibtn3").on('click', function () { callapiCors(); });
    });
    
</script>


@*<script type="text/javascript">
    function callapidata(cutomers) {
        $("#result").text(cutomers[0].Name);
    }
</script>
<script type="text/javascript" src="http://webapi.local/api/customerapi/cutomers?callback=callapidata"></script>*@
